/* ******* Reset CSS ******* */

html {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* ******* Variable css ******* */

:root {
  /* Fuentes size*/
  --h1-encabezado: 64px;
  --h2-encabezado: 35px;
  --h3-encabezado: 30px;
  --h4-encabezado: 25px;
  --h5-encabezado: 22.5px;
  --h6-encabezado: 20px;
  --p-parrafo: 20px;

  /* Fuentes weight */
  --fuente-regular: 400;
  --fuente-medium: 500;
  --fuente-bold: 700;

  /* Colores */

  /* Color 1 */
  --color-1: #0f1e56;
  --color-1-variante-50: rgb(15, 30, 86);
  --color-1-variante-85: rgb(15, 30, 86);

  /* Color 2 */
  --color-2: #597baf;
  --color-2-variante-50: rgb(89, 123, 175);
  --color-2-variante-85: rgb(89, 123, 175);

  /* Color 3 */
  --color-3: #c3bdbb;
  --color-3-variante-50: rgb(195, 189, 187);
  --color-3-variante-85: rgb(195, 189, 187);

  /* Color 4 */
  --color-4: #fcc79b;

  /* blanco - oscuro */
  --color-oscuro: #000000;
  --color-blanco: #f4f4f6;
}

/* ******* Componentes ******* */

/* HEADER */

.header-container {
  background-color: var(--color-2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  max-width: 100%;
  max-height: 100%;
}

.header-logo .logo {
  width: 30%;
  height: auto;
}

.header-list .header-menu li {
  display: flex;
  justify-content: flex-end;
  width: 250px;
}

.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-options {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  font-family: "Tenor Sans";
  font-size: 20px;
  font-weight: var(--fuente-bold);
}

/* ANIMACION A */

.header-options {
  background-image: linear-gradient(
    to right,
    #fcc79b,
    #fcc79b 50%,
    var(--color-blanco) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.header-options:before {
  content: "";
  background: var(--color-4);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.header-options:hover {
  background-position: 0;
}

.header-options:hover::before {
  width: 100%;
}

/*Home*/

.main {
  background-image: url("./images/inicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main__container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.main__container__text {
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main__container__title {
  font-family: "Tenor Sans";
  font-size: 150px;
  text-align: center;
}

.main__container__subtitle {
  text-align: center;
}

.main__container__subtitle:before {
  content: "";
  width: 120px;
  height: 2px;
  display: block;
  background-color: white;
}

/* about */

.about {
  background-image: url("https://images.unsplash.com/photo-1580502304784-8985b7eb7260?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.about__container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.about__container__text {
  width: 1200px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about__container__description {
  background: #5777a8a4;
  color: white;
  font-weight: "Poppins";
  padding: 15px;
  border: 1px px solid #597baf;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 22px;
}

/* products */

.hombres {
  margin: auto;
  width: 100%;
  height: 50vh;
  cursor: pointer;
  overflow: hidden;
}

.mujeres {
  margin-top: 8px;
  width: 100%;
  height: 45vh;
  min-width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.ContainerH:hover {
  transform: scale(1.04);
  transition: 2s;
}
.ContainerM:hover {
  transform: scale(1.04);
  transition: 2s;
}

/* Contact */
.contact {
  background-color: var(--color-1);
  color: var(--color-blanco);
  width: 100%;
  height: 100vh;
  display: flex;
}

.contact__image {
  width: 50%;
  height: 100%;
  background-image: url("./images/foto-contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.contact__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__logo__title {
  font-family: "Tenor Sans";
  font-size: var(--h1-encabezado);
  font-size: 80px;
}

.contact__logo__subtitle {
  text-align: center;
}

.contact__logo__subtitle:before {
  content: "";
  width: 120px;
  height: 2px;
  display: block;
  background-color: white;
}

.contact__text-uno {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contact__text-uno h2 {
  text-align: center;
  font-weight: var(--fuente-medium);
}

.contact__text-dos,
.contact__text-tres,
.contact__text-cuatro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
}

.contact__text-cuatro div {
  display: flex;
  gap: 10px;
}

/* Footer */

.footer {
  height: 275px;
  background-color: var(--color-2);
}

.footer_container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.footer_container__image,
.footer__menu,
.footer__ubication,
.footer__social,
.footer__legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__image {
  font-size: 80px;
  color: var(--color-blanco);
  font-family: "Tenor Sans";
  font-weight: var(--fuente-regular);
}

.footer__menu__title,
.footer__ubication__title,
.footer__social__title,
.footer__legal__title {
  color: var(--color-blanco);
  font-weight: var(--fuente-medium);
  font-family: "Alkatra", cursive;
  font-size: var(--h4-encabezado);
}

.footer__ubication__subtitle,
.footer__menu__link,
.footer__social__link,
.footer__legal__link {
  color: var(--color-blanco);
  padding: 3px 0;
  font-weight: var(--fuente-regular);
  transition: all 0.3s ease;
}

.footer__menu__link:hover,
.footer__social__link:hover,
.footer__legal__link:hover {
  color: var(--color-4);
}

.copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-1);
  color: var(--color-blanco);
}

/* Scroll Top Button */

.btn-members {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom: 15vh;
  right: 5vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--color-4);
  color: var(--color-1);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.btn-members:hover {
  background-color: var(--color-1);
  color: var(--color-4);
}

.scroll-top-btn {
  position: fixed;
  z-index: 999;
  bottom: 5vh;
  right: 5vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--color-4);
  color: var(--color-1);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover {
  background-color: var(--color-1);
  color: var(--color-4);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
